# Python バイトコードやキャッシュ
__pycache__/
*.py[cod]
*.pyo

# 仮想環境
.venv/
venv/
env/

# ビルド生成物
*.dist/
*.build/
*.exe
*.o
*.pyd
*.manifest
*.dll
*.exp
*.lib
*.cache/
*.tmp

# PyInstaller/Nuitka関連ログ
build/
dist/
*.spec

# VSCodeなどIDE設定
.vscode/
.idea/

# OS/ファイル管理ソフトによる一時ファイル
.DS_Store
Thumbs.db
desktop.ini

# ログファイル
*.log

# テンプレート画像
captured_tiles/
templates/mahjong_soul/*.png
templates/riichi_city/*.png